@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

#hero {
  background-image: url('./assets/mobile/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.checkbox-button {
    position: fixed;
    top: 25px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 110;
    box-shadow: 0 10px 40px #000;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

.navigation-background {
    position: fixed;
    top: 37px;
    right: 27px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    background-image: linear-gradient(to right, rgb(59, 130, 246), rgb(37, 99, 235));
    transition: all .8s;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 70;
    visibility: hidden;
    transition: all .4s;
}

.mobile-icon-top,
.mobile-icon-middle,
.mobile-icon-bottom {
    position: absolute;
    top: 27px;
    left: 13px;
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: all .3s;
}

.mobile-icon-top {
    margin-top: -10px;
}

.mobile-icon-bottom {
    margin-top: 10px;
}


.mobile-icon-top-active {
    transform: rotate(45deg) translate(7px, 8px);
    transition: all .3s;
}

.mobile-icon-middle-active {
    display: none;
}

.mobile-icon-bottom-active {
    transform: rotate(-45deg) translate(6px, -7px);
    transition: all .3s;
}

.navigation-background-active {
    transform: scale(50);
    transition: all .8s;
}

.navigation-active {
    opacity: 1;
    visibility: visible;
    transition: all 1s;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
    opacity: 0;
    transition: all 1s;
}

.header-background-active {
  opacity: .9;
}

@media(max-width: 576px) {
    #hero {
    background-image: url('./assets/mobile/hero-image.jpg');
    background-position: 50% 50%;
  }
}