@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-top,
.icon-middle,
.icon-bottom {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 30px;
    height: 3px;
    background-color: #000;
    transition: all .3s;
}

.icon-top {
    margin-top: -10px;
}

.icon-bottom {
    margin-top: 10px;
}


.icon-top-active {
    transform: rotate(45deg) translate(7px, 8px);
    transition: all .3s;
}

.icon-middle-active {
    display: none;
}

.icon-bottom-active {
    transform: rotate(-45deg) translate(6px, -7px);
    transition: all .3s;
}

.swiper-button-next,
.swiper-button-prev {
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    top: 0;
    margin: 0;
}

.swiper-button-next {
    right: 0;
    border: 6px solid black;
    border-right: none;
}

.swiper-button-prev {
    left: 0;
    border: 6px solid black;
    border-left: none;
}

.swiper-button-next::after,
.swiper-button-prev::after  {
    content: '\2794';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 30px;
}

.swiper-button-prev::after {
    transform: rotate(180deg);
}

.tabletop-button-next,
.tabletop-button-prev {
    position: absolute;
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    bottom: 50%;
    margin: 0;
    z-index: 10;
}

.tabletop-button-next {
    right: 10px;
    border: 6px solid black;
}

.tabletop-button-prev {
    left: 10px;
    border: 6px solid black;
}

.tabletop-button-next::after,
.tabletop-button-prev::after  {
    content: '\2794';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 40px;
}

.tabletop-button-prev::after {
    transform: rotate(180deg);
}
