@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    display: none;
}

#root {
    max-width: 2000px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#hero {
    background-image: url('assets/main-photo/mobile/merry-main-280.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media only screen and (min-width: 40em) {
  #hero {
    background-image: url('assets/main-photo/mobile/merry-main-580.webp');
  }
}

@media only screen and (min-width: 80em) {
  #hero {
    background-image: url('assets/main-photo/desktop/merry-main-desktop.webp');
  }
}

.active {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(152, 7, 7);
}

.icon-top,
.icon-middle,
.icon-bottom {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 30px;
    height: 3px;
    background-color: #f8f8ff;
    transition: all .3s;
}

.icon-top {
    margin-top: -10px;
}

.icon-bottom {
    margin-top: 10px;
}


.icon-top-active {
    transform: rotate(45deg) translate(7px, 8px);
    transition: all .3s;
}

.icon-middle-active {
    display: none;
}

.icon-bottom-active {
    transform: rotate(-45deg) translate(6px, -7px);
    transition: all .3s;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -5px !important;
    padding-bottom: 12px;
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    margin-right: 10px !important;
    background-color: #000;
}

.swiper-button-next,
.swiper-button-prev {
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    top: 0;;
    margin: 0;
}

.swiper-button-next {
    right: 0;
    border: 6px solid black;
    border-top: none;
    border-right: none;
}

.swiper-button-prev {
    left: 0;
    border: 6px solid black;
    border-top: none;
    border-left: none;
}

.swiper-button-next::after,
.swiper-button-prev::after  {
    content: '\2794';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 30px;
}

.swiper-button-prev::after {
    transform: rotate(180deg);
}

@media only screen and (min-width: 36.3em) {
    .swiper-button-next,
    .swiper-button-prev {
        height: 40px;
        width: 100px;
    }  

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 40px;
    } 
}